
.navbar {
  font-family: 'Courier New', Courier, monospace;
  background-color: #0f0f23;
}

.navcontainer {
  max-width: 800px;
  margin: 0 auto;
}

.navheader {
  
  display: flex;
  justify-content: space-between;
  
}

.title {
  font-weight: bold;
  font-size: larger;
  color: #cccccc;
  text-align: center;
}

.links {
  padding-top: 20px;
  text-align: right;
}

.github {
  color: #cccccc;
  text-decoration: none;
}

.navdays {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.a {
  color: lime;
  text-decoration: none;
}

.a:visited {
  color: magenta;
}