
.container {
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Courier New', Courier, monospace;
}

.pageTitle {
  font-size: larger;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}